/* Home.css */
.home {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .hero-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero-image {
    background: url('../../../public/image.JPG') no-repeat center center; /* Asegúrate de que 'image.JPG' es el nombre correcto del archivo en tu directorio 'public' */
    background-size: cover;
    height: 50vh; /* Esto controla la altura de la sección de la imagen. Ajústalo según tus necesidades. */
    width: 100%;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333; /* O el color que prefieras para los títulos */
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #555; /* O el color que prefieras para el texto */
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .cta {
    text-decoration: none;
    background-color: #fed136;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta:hover {
    background-color: #fcb800;
  }

  /* Estilos para el contenedor del intro */

  .intro-section {
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position: relative;
    overflow: hidden;
}

.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
    pointer-events: none;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.intro-name {
    margin-bottom: 10px;
    color: #333;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.intro-title {
    margin-bottom: 25px;
    color: #555;
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro-description {
    color: #666;
    line-height: 1.6;
    font-size: 1.1em;
    margin-bottom: 35px;
    transition: color 0.3s ease-in-out;
}

.intro-description:hover {
    color: #333;
}

.cta-button {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 50px; /* Botón con bordes completamente redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cta-button {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    background-color: #333; /* color de fondo inicial */
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; /* esto utiliza la fuente Roboto, asegúrate de tenerla importada en tu archivo HTML */
    font-size: 1.1em; /* ajusta el tamaño de la fuente */
    font-weight: 500; /* esto hará que el texto sea semi-negrita */
    letter-spacing: 1.2px; /* esto define el espacio entre letras */
    text-transform: uppercase; /* esto convierte el texto a mayúsculas */
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #fafaf7; /* color de fondo al pasar el mouse */
    color: #333; /* color del texto al pasar el mouse */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Opcional: puedes agregar un efecto de "focus" para cuando el botón esté seleccionado */
.cta-button:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* crea un contorno de enfoque amarillo suave */
}



/* Skills */

.skills-section {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.skills-section h2 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.skills-section h2::after {
    content: '';
    width: 100px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffeb3b; /* color amarillo */
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* espacio entre las tarjetas */
}

.skill-card {
    height: 200px; /* Define una altura */
    width: 150px; /* Define una anchura */
    margin-bottom: 20px; /* Espacio entre la tarjeta y el siguiente elemento */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12); /* Sombra */
    transition: all 0.3s ease-in-out; /* Transición suave para hover */
    color: #fff; /* Color de texto */
    position: relative; /* Necesario para posicionar el contenido correctamente */
    overflow: hidden; /* Asegura que nada se desborde */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    text-align: center; /* Centra el texto */
    position: relative;
    padding-bottom: 0; /* Añade espacio en la parte inferior para el texto */

}

.skill-card.python {
    background-image: url('../../../public/Python.png'); /* Asegúrate de que el camino a tu imagen sea correcto */
}

.skill-card.javascript {
    background-image: url('../../../public/JavaScript.png');
}

.skill-card.react-native {
    background-image: url('../../../public/ReactNative.png');
}

.skill-card.html-css {
    background-image: url('../../../public/HTML:CSS.jpg');
}

.skill-card.java {
    background-image: url('../../../public/Java.png');
}

.skill-card.sql {
    background-image: url('../../../public/SQL.png');
}




.skill-content {
    height: 100%; /* Asegurarte de que ocupa todo el espacio vertical disponible */
    width: 100%; /* Asegurarte de que ocupa todo el espacio horizontal disponible */
}
 
.skill-icon-wrapper {
    width: 70px; /* Ajustado para un mejor aspecto visual */
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.skill-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.skill-icon-wrapper:hover .skill-icon {
    transform: scale(1.1);
}

.skill-card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

.skill-name {
    color: #333;
    margin: 10px 0 5px 0;
}

.skill-level {
    font-size: 0.85em;
    color: #777;
}


.skill-text {
    position: relative; /* Cambia a relative */
    transform: none; /* Remover transformación */
    top: 0; /* Posición top a 0 */
    padding: 10px 0; /* Añadir padding arriba y abajo */
    background: none; /* Elimina el fondo si lo prefieres */
    color: #333; /* Añadir color al texto */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.skill-name {
    color: #333; /* Color oscuro para contraste */
    margin: 5px 0; /* Espacio entre nombre y nivel */
    font-size: 1.2em; /* Aumentar el tamaño de la fuente */
    font-weight: 700; /* Hacer el texto en negrita */
    letter-spacing: 1px; /* Aumentar el espaciado entre letras */
    text-transform: uppercase; /* Transformar el texto a mayúsculas */

}

.skill-level {
    font-size: 0.85em;
    color: rgb(5, 4, 4);  
}


/* Educación */


.education-section {
    text-align: center;
    background-color: #f1f1f1; /* Color de fondo suave */
    padding: 40px 20px; /* Espaciado superior e inferior */
}

.education-section h2 {
    font-size: 2em; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Hace la fuente más gruesa */
    color: #333; /* Color oscuro para mejor contraste y legibilidad */
    margin-bottom: 20px; /* Añade espacio debajo del título */
    text-align: center; /* Centra el texto */
}

.education-section h2:after {
    content: "";
    display: block;
    width: 50px; /* Ajusta la anchura de la línea */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #333; /* Color de la línea */
    margin: 10px auto 0; /* Centra la línea debajo del título */
}

.education-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.education-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.education-info h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: #333;
    font-weight: bold;
}

.education-info p {
    font-size: 1em;
    margin: 5px 0;
    color: #555;
    line-height: 1.5;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
}


.education-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas más pequeñas */
    animation: fadeIn 0.8s ease-out, zoomIn 0.8s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.tec-image, .education-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* O el tamaño que prefieras */
    width: 100px; /* O el tamaño que prefieras */
}


.education-info {
    flex-basis: 70%; /* Ajusta este valor según sea necesario */
    padding-left: 20px;
}


.education-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tec-image {
    background: url('../../../public/Tec.png') no-repeat center center;
    background-size: cover;
    height: 100px;  /* Ajusta según sea necesario */
    width: 15%;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
}
