
.App {
  min-height: 100vh; /* Asegura que el contenedor principal tenga al menos la altura de la ventana del navegador */
  position: relative; /* Establece una posición de referencia para el pie de página posicionado de manera absoluta */
  padding-bottom: 60px; /* Reserva espacio para el pie de página. Ajusta según la altura de tu pie de página */
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
